<!DOCTYPE html>
<html lang="en" data-theme="business">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.1.1/dist/full.css"
          rel="stylesheet"
          type="text/css" />
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <!-- google icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet" />
    <title>
      {% block head_title %}Stock Market!{% endblock %}
    </title>
    {% block extra_head %}{% endblock %}
  </head>
  <body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    {% include "components/navbar.html" %}
    {% for message in messages %}
      <div class="alert alert-{{ message.level_tag }}">
        <svg xmlns="http://www.w3.org/2000/svg"
             fill="none"
             viewBox="0 0 24 24"
             class="stroke-current shrink-0 w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z">
          </path>
        </svg>
        <span>{{ message }}</span>
      </div>
    {% endfor %}
    {% block body %}
    {% endblock body %}
  </body>
</html>
