{% extends "base.html" %}
{% block body %}
<article class="prose">
    <h1>Wishlist Stocks</h1>
</article>
<div class="overflow-x-auto">
  <table class="table table-md">
    <thead>
      <tr>
        <th></th>
        <th>Symbol</th>
        <th>Name</th>
        <th>Price</th>
        <th>Change</th>
        <th>Change %</th>
        <th>Volume</th>
        <th>Market Cap</th>
      </tr>
    </thead>
    <tbody>
      {% for wishlist_item in user.wishlist.all %}
        {% with stock=wishlist_item.stock %}
          {% include 'market/components/stock_object.html' %}
        {% endwith %}
      {% endfor %}
    </tbody>
  </table>
</div>
{% include 'components/pagination.html' with pname="page" page_obj=page_obj %}



<script>
  function updateChart(ticker) {
    var timePeriod = 10;
    var unit = 'second';
    // get from data-yesterday-price and convert to float
    var yesterday_price = parseFloat(document.getElementById(`${ticker}___current_price`).getAttribute('data-yesterday-price'))
    
    // if not yesterday price, set to start price
    if (!yesterday_price) {
      yesterday_price = parseFloat(document.getElementById(`${ticker}___current_price`).getAttribute('data-starting-price'))
    }
    // if not a number, set to null
    if (isNaN(yesterday_price)) {
      yesterday_price = null;
    }

    $.ajax({
      url: '/market/api/v1/get_prices/',
      type: 'POST',
      data: {
        ticker: ticker,
        time_period: timePeriod,
        unit: unit
      },
      dataType: 'json',
      success: function (data) {


        // update profit percent and current price
        var current_price = data[data.length - 1].price;
        // upto 2 decimal places
        current_price = current_price.toFixed(2);
        var profit_percent = (current_price - yesterday_price) / yesterday_price * 100;
        // see if yesterday_price was not null so its not infinity
        if (yesterday_price) {
          if (profit_percent > 0) {
            $(`${ticker}___change_percent`).css('color', 'green');
          } else if (profit_percent < 0) {
            $(`${ticker}___change_percent`).css('color', 'red');
          } else {
            $(`${ticker}___change_percent`).css('color', 'white');
          }
        } 

        // set current price and profit percent
        document.getElementById(`${ticker}___current_price`).innerHTML = current_price;
        document.getElementById(`${ticker}___change_percent`).innerHTML = profit_percent.toFixed(2) + '%';
        document.getElementById(`${ticker}___change`).innerHTML = (current_price - yesterday_price).toFixed(2);

        // change color based on profit percent using vanilla js
        var change_percent = document.getElementById(`${ticker}___change_percent`);
        if (profit_percent > 0) {
          change_percent.style.color = 'green';
        } else if (profit_percent < 0) {
          change_percent.style.color = 'red';
        } else {
          change_percent.style.color = 'white';
        }

      }
    });
  }

  // get all stock tickers
  var stock_tickers = document.querySelectorAll('[data-stock-id]');
  // loop through each stock ticker
  stock_tickers.forEach(function (stock_ticker) {
    // get ticker
    var ticker = stock_ticker.getAttribute('data-stock-id');
    // update chart
    updateChart(ticker);
    // update chart every 10 seconds
    setInterval(function () {
      updateChart(ticker);
    }, 1000);
  });

</script>
{% include 'components/wishlist_ajax.html' %}
{% endblock body %}